/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Lato', sans-serif;
  color: #484848;
  margin: 1.5em 3em 0 3em;
}
header {
  margin-bottom: 1.5em;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
}
.nav-list li a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 900;
  padding: 0 0 0 1em;
  color: #484848;
}
.nav-list li a:hover {
  color: rgba(72, 72, 72, 0.5);
}
.nav-list li a:active {
  color: #c0dfd9;
}
.main-section {
  background-color: #c0dfd9;
  box-shadow: 0px 1px 3px #484848;
  padding: 4em;
  border-radius: 1%;
}
.main-section img {
  width: 40%;
  border-radius: 2%;
  box-shadow: 0px 1px 3px #484848;
}
.main-section h1 {
  font-size: 3rem;
  margin: 0.5em 0 0.1em;
}
.main-section .sub-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 0.2em;
  margin-bottom: 1em;
}
.main-section .brief-info {
  font-size: 1.2rem;
  margin-bottom: 2em;
}
.main-section a {
  border: 5px solid #484848;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 900;
  font-weight: 700;
  color: #484848;
  padding: 0.2em 0.8em;
}
.main-section a:hover {
  color: rgba(72, 72, 72, 0.5);
  border: 5px solid #b3c2bf;
}
.main-section a:active {
  background: #b3c2bf;
  color: white;
}
.bio-section {
  display: flex;
  justify-content: space-between;
  margin: 2em 0;
}
.bio-section .caption {
  width: 57%;
}
.bio-section .caption h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}
.bio-section .caption p {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.5rem;
  letter-spacing: 1px;
}
.bio-section .tech-skills {
  width: 37%;
}
.bio-section .tech-skills h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}
.bio-section .tech-skills li {
  border: 0.5px solid #c0dfd9;
  font-weight: 700;
  border-bottom: 0;
  padding: 0.5em;
}
.bio-section .tech-skills li:last-child {
  border: 0.5px solid #c0dfd9;
}
.work-history {
  margin-bottom: 2em;
}
.work-history h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}
.work-history table {
  border-collapse: collapse;
  font-size: 1.3rem;
  width: 100%;
}
.work-history th,
.work-history td {
  text-align: left;
  padding: 8px;
}
.work-history tr:nth-child(even) {
  background-color: #c0dfd9;
}
footer {
  background-color: rgba(72, 72, 72, 0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
footer p {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  text-shadow: -1px 1px 5px rgba(72, 72, 72, 0.5);
  color: #c0dfd9;
  padding: 2em 0;
}
